@use '/src/styles/tools' as *;

.footer {
  @include flexbox(_, center);
  column-gap: 8px;
  padding: 27px 0px 56px 0px;
  cursor: pointer;
  p {
    font-size: 14px;
    line-height: 14px;
    &:hover {
      color: $main;
      @include transition(0.2s, 0s);
    }
  }
  @include media($lg) {
    @include flexbox(center, center);
  }
}

.button {
  @include flexbox(center, center);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $light-gray;
}