@use '/src/styles/tools' as *;

.button {
  padding: 16px 32px;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  background: $main;
  color: $white;
  border-radius: 3px;
  cursor: pointer;
  @include transition(0.2s, 0s);
  &:hover {
    background: darken($main, 10%);
  }
  &:active {
    background: darken($main, 20%);
  }
}

.transparent {
  background: transparent;
  color: $main;

  &:hover {
    color: $white;
    background: transparent;
  }

  &:active {
    color: $white;
    background: transparent;
  }
}

.fullWidth {
  width: 100%;
}

.large {
  padding: 22px 40px;
}
