@use '/src/styles/tools' as *;

.button {
  padding: 16px 32px;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  background: $main;
  color: $white;
  border-radius: 3px;
}

.transparent {
  background: transparent;
  color: $main;
}
