@use '/src/styles/tools' as *;

.header {
  padding: 25px 12px;
  @include flexbox(space-between, center);
  nav {
    list-style-type: none;
    display: inline-flex;
    flex: 1 1 auto;
    margin-left: 120px;
    column-gap: 40px;
    & li {
      color: $grey70;
      font-size: 14px;
      line-height: 14px;
    }
  }
}

.buttonGroup {
  @include flexbox();
}