@use '../../../../../styles/tools/index' as *;

.dimensions {
  @include flexbox(_,_,column);
  flex: 1 1 auto;
  position: relative;
}

.control {
  position: absolute;
  top: 5%;
  right: 10%;
  z-index: 5;
  border-radius: 3px;
  border: 1px solid var(--input-border);
  box-shadow: 0 0 2px 0 var(--input-border) inset;
  & button {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    padding: 8px;
    background-color: transparent;
    color: var(--text);
    &.active {
      background-color: var(--main);
      color: var(--white);
    }
    &:first-of-type {
      border-radius: 3px 0 0 3px;
    }
    &:last-of-type {
      border-radius: 0 3px 3px 0;
    }
  }
}