@use "./tools" as *;

.modal-form {
  & label, input {
    display: block;
  }

  & label {
    margin-top: 32px;
    font-size: 12px;
    line-height: 12px;
  }
  &__input {
    margin-top: 8px;
    width: 300px;
    @include media($sm) {
      width: 100%;
    }
    &_error {
      border: 1px solid $error;
    }
  }
  &__error {
    color: $error;
    margin-top: 8px;
    font-size: 12px;
    line-height: 12px;
  }
}