@use '/src/styles/tools' as *;

.snackBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  @include flexbox(space-between, center);
  padding: 24px 32px;
  background-color: $white;
  box-shadow: $light-shadow;
}

.selected {
  @include flexbox(center, center);
  column-gap: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
}

.buttons {
  @include flexbox(center, center);
  column-gap: 16px;
}