@use '/client/src/styles/tools/index' as *;

.header {
  border-bottom: 1px solid $admin-blocks-gray;
}

.content {
  flex: 1 1 auto;
  margin: 32px 0;
  column-gap: 16px;
  @include flexbox(space-between, center);
  & ul {
    @include flexbox(space-between, center);
    column-gap: 40px;
    @include media($md) {
      column-gap: 24px;
    }
  }
}

.left {
  @include flexbox(_, center);
  column-gap: 16px;
}

.input {
  & input {
    @include media($md) {
      width: 100%;
    }
  }
}

.burger {
  display: none;
  @include media($lg) {
    display: block;
  }
}

.controlPanel {
  & li {
    position: relative;
    cursor: pointer;
    &:hover, &:active, &:focus {
      & * {
        stroke: $main;
      }
    }
  }
}

.sticker {
  position: absolute;
  top: 0;
  right: 4px;
}
