//palette
$main: #EE950F;
$white: #FFFFFF;
$black: #000000;

//text
$text: #3E4C59;
$text40: transparentize($text, 0.6);
$text70: transparentize($text, 0.3);

$text-alt: #152739;
$text-scroll: transparentize(#0F2031, 0.3);

//gray
$light-gray: #F3F3F3;
$input-border-gray: #E6E8EA;