@use '../../../../../styles/tools/index' as *;

.wrapper {
  position: relative;
  input {
    display: none;
  }
}

.row {
  display: grid;
  padding: 24px 24px 24px 60px;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  border-bottom: 1px solid var(--border-gray);
  cursor: pointer;

  &:hover {
    background-color: var(--background-secondary);
  }
  & div {
    @include flexbox(_, center);
    &:first-child {
      padding-right: 8px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    top: calc(50% - 11px);
    left: 24px;
    width: 20px;
    height: 20px;
    border: 1px solid #CED6DD;
    border-radius: 3px;
    @include media($md) {
      left: 12px;
    }
  }

  @include media($md) {
    padding: 24px 12px 24px 48px;
    width: 800px;
  }
}

input:checked + .row::before {
  background-color: var(--main);
  border: 1px solid var(--main);
  background: url('../../../../../content/icons/done.svg') var(--main) center center no-repeat;
}

input:checked + .row {
  background-color: var(--background-secondary);
}

.link {
  &:hover, &:active, &:focus {
    color: var(--main);
  }
}

.withPic {
  @include flexbox(center, center);
  column-gap: 9px;
  & * {
    stroke: var(--text);
  }
}
