@use '../../../styles/tools/index' as *;

.button {
  padding: 16px 32px;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  background: var(--main);
  color: var(--white);
  border-radius: 3px;
  cursor: pointer;
  @include flexbox(center, center);
  column-gap: 16px;
  border: 1px solid var(--main);
  @include transition(0.2s, 0s);
  &:hover {
    background: var(--main-darker);
    border: 1px solid var(--main-darker);
  }
  &:active {
    background: var(--main-darkest);
    border: 1px solid var(--main-darkest);
  }
}

.transparent {
  background: transparent;
  color: var(--main);
  border: 1px solid transparent;

  &:hover {
    color: var(--white);
    background: transparent;
    border: 1px solid transparent;
  }

  &:active {
    color: var(--white);
    background: transparent;
    border: 1px solid transparent;
  }
}

.fullWidth {
  width: 100%;
}

.small {
  padding: 16px 24px;
  font-size: 12px;
  line-height: 12px;
}

.large {
  padding: 22px 40px;
}

.outlined {
  background-color: transparent;
  color: var(--main);
  &.error {
    color: var(--error);
    border: 1px solid var(--error);
    &:hover {
      background: var(--error-darker);
      border: 1px solid var(--error-darker);
      color: var(--white);
    }
    &:active {
      background: var(--error-darkest);
      border: 1px solid var(--error-darkest);
    }
  }
}

.blocked {
  background-color: var(--input-border);
  border: 1px solid var(--input-border);
  user-select: none;
  cursor: not-allowed;
  &:hover {
    background: var(--input-border);
    border: 1px solid var(--input-border);
  }
  &:active {
    background: var(--input-border);
    border: 1px solid var(--input-border);
  }
}