@use '../../../../styles/tools/index' as *;

.header {
  padding: 25px 12px;
  @include flexbox(space-between, center);
  nav {
    list-style-type: none;
    display: inline-flex;
    flex: 1 1 auto;
    margin-left: 120px;
    column-gap: 40px;
    & li {
      color: rgba(var(--text-rgb), 0.7);
      font-size: 14px;
      line-height: 14px;
      cursor: pointer;
      &:hover, &:active {
        color: var(--main);
        @include transition(0.2s, 0s);
      }
      @include media($lg) {
        font-size: 32px;
        line-height: 32px;
      }
    }
    @include media($lg) {
      margin-left: 0;
      flex: 0 0 auto;
      @include flexbox(center, center, column);
      row-gap: 32px;
    }
  }
}

.logo {
  z-index: 3;
  @include transition(0.5s, 0s);
}

.menu {
  @include flexbox(space-between, center);
  flex: 1 1 auto;
  @include media($lg) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translateY(-100%);
    overflow: auto;
    background-color: var(--background-primary);
    z-index: 2;
    @include transition(0.5s, 0s);
    &.active {
      @include flexbox(flex-start, center, column);
      padding-top: 200px;
      transform: translateY(0);
      @include media($md) {
        padding-top: 120px;
      }
    }
  }
}

.buttonGroup {
  @include flexbox(_, center);
  @include media($lg) {
    margin-top: 64px;
    @include flexbox(_, _, column);
    row-gap: 16px;
  }
}

.burger {
  display: none;
  @include media($lg) {
    display: block;
  }
}

.activeLink {
  color: var(--main);
  text-decoration: none;
}

.inActiveLink {
  text-decoration: none;
  color: inherit;
}