@use "tools/index" as *;

.modal-form {
  & label, input {
    display: block;
  }

  &>label {
    margin-top: 32px;
    font-size: 12px;
    line-height: 12px;
  }
  &__text {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 32px;
  }
  &__input {
    margin-top: 8px;
    width: 300px;
    @include media($sm) {
      width: 100%;
    }
    &_error {
      border: 1px solid $error;
    }
  }
  &__error {
    color: $error;
    margin-top: 8px;
    font-size: 12px;
    line-height: 12px;
    width: 300px;
  }
  &__radio-group-title {
    margin-top: 32px;
    font-size: 14px;
    line-height: 14px;
  }
  &__radio-group {
    @include flexbox();
    margin-top: 24px;
    column-gap: 24px;
    font-size: 14px;
    line-height: 14px;
    & input {
      display: none;
    }
    & label {
      @include flexbox(center, center);
      column-gap: 8px;
      &::after {
        content: '';
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 1px solid $input-border-gray;
      }
    }
    & input:checked + label::after {
      @include transition(0.2s, 0s);
      outline: 8px solid $white;
      outline-offset: -8px;
      background-color: $main;
    }
  }
  &__radio-group-planks {
    &>div>div {
      margin-bottom: 24px;
      width: 300px;
      & input {
        display: none;
      }
      label {
        background: $radio-button;
        padding: 18px 18px 18px 13px;
        color: $text40;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        cursor: pointer;
        @include flexbox(space-between, center);
        & span {
          @include flexbox(center, center);
          column-gap: 8px;
        }
        & * {
          stroke: $text40;
          fill: $text40;
        }
      }
      & input:checked + label {
        background: $with-orange;
        color: $main;
        &::after {
          content: '';
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background: url('../content/icons/done.svg') $main center center no-repeat;
        }
        & * {
          stroke: $main;
          fill: $main;
        }
      }
    }
  }
}