@use "tools/index" as *;

.modal-form {
  & label, input {
    display: block;
  }

  &>label {
    margin-top: 32px;
    font-size: 12px;
    line-height: 12px;
  }
  &__text {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 32px;
  }
  &__input {
    margin-top: 8px;
    width: 300px;
    background-color: var(--background-primary);
    border: 1px solid var(--input-border);
    font-size: 14px;
    line-height: 14px;
    &::placeholder {
      color: rgba(var(--text-rgb), 0.4);
      font-size: 14px;
      line-height: 14px;
    }
    @include media($sm) {
      width: 100%;
    }
    &_error {
      border: 1px solid var(--error);
    }
  }
  &__error {
    color: var(--error);
    margin-top: 8px;
    font-size: 12px;
    line-height: 12px;
    width: 300px;
  }
  &__radio-group-title {
    margin-top: 32px;
    font-size: 14px;
    line-height: 14px;
  }
  &__radio-group {
    @include flexbox();
    margin-top: 24px;
    column-gap: 24px;
    font-size: 14px;
    line-height: 14px;
    & input {
      display: none;
    }
    & label {
      @include flexbox(center, center);
      column-gap: 8px;
      &::after {
        content: '';
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 1px solid var(--input-border);
      }
    }
    & input:checked + label::after {
      @include transition(0.2s, 0s);
      outline: 8px solid var(--white);
      outline-offset: -8px;
      background-color: var(--main);
    }
  }
  &__radio-group-planks {
    &>div>div {
      margin-bottom: 24px;
      width: 300px;
      & input {
        display: none;
      }
      label {
        background: var(--plank-grey);
        padding: 18px 18px 18px 13px;
        color: rgba(var(--text-rgb), 0.4);
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        cursor: pointer;
        @include flexbox(space-between, center);
        & span {
          @include flexbox(center, center);
          column-gap: 8px;
        }
        & * {
          stroke: rgba(var(--text-rgb), 0.4);
          fill: rgba(var(--text-rgb), 0.4);
        }
      }
      & input:checked + label {
        background: var(--plank-orange);
        color: var(--main);
        &::after {
          content: '';
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background: url('../content/icons/done.svg') var(--main) center center no-repeat;
        }
        & * {
          stroke: var(--main);
          fill: var(--main);
        }
      }
    }
  }
}